/*UNIVERSAL SELECTOR*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    background-color: #fdf6f9;
}

/*STYLING FOR NAVBAR*/
.navbar-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-list-items{
    list-style-type: none;
}
.navbar-link{
    text-decoration: none;
    color: black;
    background-color: #FAB8D2;
    padding:0.5em;
    border-radius: 1em;
}
#navbar-logo{
    width: 20rem;
    margin-left: 3rem;    
}

/*STYLING FOR LOGIN/SIGNUP SECTION*/
.signup-login-section{
    display: flex;
    justify-content: space-between;
}
.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    width: 15rem;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    width: 15rem;
}
#signup-button{
    background-color: #FAB8D2;
    border: none;
    margin: 1em 0em 1em 0em;
    padding:0.5em;
    border-radius: 1em;
    cursor: pointer;
}
#login-button{
    background-color: #FAB8D2;
    border: none;
    margin: 1em 0em 1em 0em;
    padding:0.5em;
    border-radius: 1em;
    cursor: pointer;
}
/*#signup-login-section-or-section{
    outline: 1px solid red;
    width: 64%;
    display: flex;
    justify-content: center;
}*/


/*STYLING FOR WHOWEARE SECTION*/
.who-we-are-section{
    
}
.who-we-are-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.who-we-are-article-header{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}
.who-we-are-article-paragraph{
    display: flex;
    justify-content: center;
    inline-size: 31rem;
    overflow-wrap: break-word;
    padding-top: 2em;
    font-size: 20px;
}
.who-we-are-article-sub-section{
    display: flex;
}
.who-we-are-article-sub-section-headers{
    padding: 3em;
}






/*STYLING FOR TYPES OF COFFEE SECTION*/
.types-of-coffee-section{
    display: flex;
    justify-content: space-evenly;
}
.types-of-coffee-card{
}
.types-of-coffee-card-images{
    height: 15rem;
}



/*STYLING FOR COMING SOON SECTION*/
.coming-soon-section{
    background-image: url("./images/comingsoon.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 47em;
    margin: 4em 0em 4em 0em;
    display: flex;
    justify-content: center;
}

/*STYLING FOR IMAGES GRID SECTION*/
.images-grid-section{
    border: 1px solid black;
}

/*STYLING FOR FOOTER SECTION*/
.footer-container{
    text-align:center;
}
.footer-link{
    text-decoration: none;
    color: #E04682;

}
.footer-icon-link{
    font-size: 2rem;
    color: #E04682;
    padding: 0em 1em 0em 1em;
}
.footer-list-item{
    list-style-type: none;
    color: black;
}
